.body{
    background-color:black;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 80%; */
}

.size {
  font-size: 1.5rem;
  color: #ffe6e6;
}

.prompter {
  color:white
}

.results{
  margin-bottom: 7rem;
  color:white
}